<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>List People</h1>
  <%- include('partials/header.ejs') %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Age</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
      <% people.forEach(person => { %>
        <tr>
          <td><%= person.name %></td>
          <td><%= person.date %></td>
          <td><%= person.age %></td>
          <td><%= person.city %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>